.main_frame{
  background-color: rgba(100, 100, 100, 0.98);
  position:absolute;
  left:2%;
  right:2%;
  width: 96%;
  height: 93%;
  border-radius: 0px 0px 10px 10px;
}

.project{
	background-color: #225;
}

body{
	background-color: black;
	background-clip: "https://static.vecteezy.com/system/protected/files/002/017/939/vecteezy_cosmic-galaxy-with-nebula-and-bright-shining-stars-illustration-for-backgrounds_2017939.mov";
}

.bg_video{
	position: fixed;
	right: 0;
	bottom: 0;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	z-index: -100;    
	background-size: cover;
}

.centered{
	margin-left: 3px; margin-right: 3px;
}
